

*, *::before, *::after {
      box-sizing: border-box;
  }

  html, body{

    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }

  a{
        text-decoration: none;
  }
  
  body {
      font-family: 'Helvetica', sans-serif;
      font-size: 1rem;
      background-image: url(/static/assets/img/bg-orig.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
  }
  
.row{
      display: flex;
      justify-content: space-between;
  }

.db-data{
      background: rgba(255,255,255,0.87);
      border-radius: 12.32px;
}


.container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      padding: .5rem;
}

p, h3{
      margin: 0;
}

h1{
      font-size: 1rem;
}

            .edit-icon{
                  border: none;
                  background: none;
                  margin-top: 1.25rem;
                  padding: 0;
            }

            .edit-icon .far{
                  color: #b18ac1;
                  
            }



.dashboard{
      
      padding: 0 0 1rem;
      width: 95%;
      max-width: 300px;
      height: 550px;
      margin-bottom: 10px;
      background: linear-gradient(177deg, #FFFFFF 7%, rgba(217,210,226,0.14) 56%, #FFFFFF 95%); 
    border-radius: 25px;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
}

.db-content{
      padding: 1.5rem 1rem .75rem;
}

.nav {
      overflow: hidden;
      justify-content: space-evenly;
      position: relative;
      padding: .5rem .75rem;
      width: 100%;
      margin: 0 auto;
      border: none;
      border-radius: 26.76px;
      border-radius: 0 0 15px 15px;
      }
            .tab-links{
             border: none;
             padding: .75rem 1rem;
            border-radius: 10px;
            }

             .tab-links .fas{
                  color: #C9C7C7;
                  padding-bottom: .25rem;
            }

             #active{
                        color:#C0A4CB;
                        border-bottom: 2px solid #C0A4CB ;
                  }

             #active-click{
                        color:white;
                  }

               
                  .tab-links:hover{
                        background-color:
                        rgb(232, 227, 233); 

                        }


      .db-title-home{
            font-size: 16.08px;
            color: #1E1B1B;
            letter-spacing: 0.71px;
            font-weight: 500;
            margin: 1rem 0 .5rem .5rem;
      }

      .data-primary{
            padding: 1px;
            margin-top: 2rem;
      }

      .date, .clock{
            text-align: center;
      }

      .date{
            width: 35%;
            padding: .75rem;
      }

            #day-of-week{
                  font-size:1.2rem;
                  font-weight: 700;
                  color: #A88CB3;
                  letter-spacing: 1px;
                  line-height: 1;
            }

            #day-num{
                  font-size: 43.8px;
                  font-weight: 400;
                  letter-spacing: 0.7px;
                  line-height: 1;
            }

      .clock{
            width: 60%;
            padding: 1rem 0;
            align-self: center;
      }

            .clock-time{
                  font-size: 45px;
                  font-weight: 500;
                  letter-spacing: -1.5px;
            }

            .clock-phase{
                  font-size: 10px;
                  display: inline-block;
                  letter-spacing: 1;
            }

      .tertiary{
            padding: .75rem 1rem .25rem .5rem;
            align-items: center;   
            margin-top: .7rem;
      }


      .tertiary + .tertiary{
            margin-bottom: 1.75rem;
      }

                  .data-title{
                        font-size: 14px;
                        color: #191818;
                        letter-spacing: 0.83px;
                  }

                  .data-result-primiary{
                        font-size: 12px;
                        color: #636060;
                        letter-spacing: 0.71px;
                        margin-top: .4rem;
                  }

                  .data-result-secondary{
                        font-size: 11px;
                        font-weight: 500;
                        color: #b487c5;
                        letter-spacing: 0.71px;
                        margin-top: 1.25rem;
                  }

                  .icon{
                        background: #83c48e;
                        opacity: .5;
                        padding: 1rem;
                        margin-bottom: 1rem;
                        border-radius: 10px;
                  }

                        .edit-capacity{
                              border: none;
                              font-size: 11px;
                              color: #C0A4CB;
                              background: none;
                              letter-spacing: 0.71px;
                              margin:0;
                              padding:0;
                        }

                             

                  .data-icon{
                        align-self: center;
                        text-align: center;
                        height: 60px;
                        width: 60px;
                        border-radius: 100px;
                  }


/* ------------modal--------------- */

.modal-container{
      width: 100%;
      display: none;
      position: fixed;
      top: 30%;

}
.modal{
      width: 75%; 
      min-width: 272px;
      max-width: 272px;
      background: rgba(255,255,255);
      border-radius: 5px;
      margin: 0 auto;
      padding: 1.25rem .25rem 1.5rem;
   
}

.modal-content{
      margin: 0 auto;
      width: 90%;
      color: #000;
}

.modal-title-container{
      width: 100%
}

      button.close {
            align-self: flex-end;
            width: 30px;
            font-size: 20px;
            color: #c0c5cb;
            align-self: flex-end;
            background-color: transparent;
            border: none;
      }

    .modal-title{
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 500;
      color: #666262;
      text-transform: uppercase;
      align-self: flex-start;
      letter-spacing: 0.52px;
      }

      hr{
            border: 1px solid rgba(187, 182, 182, 0.17);
            width: 100%;
            margin: 15px 0;
      }

      .edit-capacity-container{
            margin: 1.25rem 0;
            padding: 0 1rem;
            text-align: center;

      }
      
            .capacity-content{
                  width: 45%;
            }

                  .capacity-content label{
                        font-size: 10px;
                  
                  }

                  #label-table{
                        color: #ad7fbf;
                  }

                  #label-waitlist{
                        color: #6f6d6f;
                  }

            .limit-input{
                  border: 1px solid rgba(84, 82, 85, 0.30);
                  border-radius: 5.68px; 
                  width: 100%;
                  height: 50px;
                  margin-top: 0.2rem;
                  font-size: 24px;
                  text-align: center;

            }

            .limit-input::placeholder {
                  color: lightgray;
                  font-size: 24px;
                }

            input:focus::placeholder {
                  color: transparent;
                }

      .submit-container{
            justify-content: center;
            margin: .25rem;
      }
      .submit-modal{
            background: #C0A4CB;
            box-shadow: 0px 6px 18px -5px rgba(192, 164, 203, 1);
            border-radius: 18.49px;
            border: none;
            font-size: 10px;
            color: #F8F5F5;
            letter-spacing: 1.01px;
            text-align: center;
            font-size: 14px;
            padding: .75rem 2rem;
      }


 /* ---------------------tables.html----------------------- */


#db-tables{
      background: linear-gradient(
            177deg
            , #FFFFFF 7%, rgba(225,225,229,0.5) 56%, #FFFFFF 90%);
}
 .no-res-container{
      display:none;
      margin: 40% auto;
      padding: 1.25rem .25rem 1.5rem;
      text-align: center;
      background-image: linear-gradient(180deg, #ffffff 49%, rgba(255,250,250,0.46) 100%);
      border-radius: 21.43px;

 }

      .no-res-container h1{
            font-size: 24px;
            margin-bottom: .5rem;
      }

      .no-res-container p{
            font-size: 14px;
            margin: 0 auto;
            width: 70%;
            margin-bottom: 1rem;
      }

.waitlist, .tables{
      padding: 0 .25rem;
}


 .slider-buttons button{
      border: none;
      background: none
 }

 .slider-buttons{
       margin: 1rem auto;
       list-style: none;
       text-align: center;
       padding: 0;
 }

 .slider-buttons .fas{
       margin: 0 2px;
       height: 18px;
       width: 20px;
       color: white;
 }

 .slider-buttons .fas:hover{
       color:  #C0A4CB;
 }

 
      .tables{
            border-radius: 13px;
       }

       #db-tables .db-title{
             margin-bottom: 1rem;
             letter-spacing: 0.71px;
             font-weight: 500;
       }

       #tables-container{
            overflow: hidden;
            height: 155px;
            margin-bottom: .25rem;
            align-content: flex-start;
      }
      
            .reservations{
                  margin-bottom: .20rem;
                  position: relative;
                  margin: 0 0 4px;
                  padding-right: 0.5rem;
            }

                  .reservations .text-content{
                        align-self: flex-start;
                        width: 50%;
                        padding: .6rem .25rem;;
                  }

                  .res-position{
                        width: 20%;
                        font-size: 24px;
                        border: 2px solid #8BB88A;
                        padding: .5rem .25rem;
                        align-self: stretch;
                        border-radius: 13px;
                        text-align: center;

                  }

                  .reservations .data-title{
                        font-size: 12px;
                        letter-spacing: 0.71px;
                        overflow: auto;
                        white-space: nowrap;
                        font-weight: 500;
                        margin-bottom: 1px;
                  }

                  .party{
                        margin-bottom: 0;
                        font-size: 9px;
                        color: #636060;
                        letter-spacing: 0.71px;
                  }

                  .table-edit{
                        align-self: center;
                        width: 25%;
                  }

                  .table-edit button{
                        border: none;
                        background:none;
                        display: inline;
                       
                  }

                  #clear-table{
                  padding: 0 .2rem;
                  }

                  #approve-table{
                  padding: 0 0 0 .75rem;
                  }

                  

                  .table-edit .far{
                        color: #9b9797;
                  }

                  .fa-times-circle:hover{
                        color: rgb(205, 75, 75);
                  }

                  .fa-check-circle:hover{
                        color:#b1d8b8;
                  }

            .waitlist{
                  margin: .5rem 0 1.75rem;
            
            }

            .waitlist .db-title{
                  margin-top: 0;
            }
      
                  .waitlist-data{
                        width: 95%;
                        max-height: 55px;
                        margin: 0 auto;
                        overflow-y: auto;
                        white-space: nowrap;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                  }

                  .wait-empty{
                        margin: 0 auto;
                        color: lightgray;
                  }
            
                        .waitlist-item-container{
                              background: white;
                              margin: 2px;
                              color: #918F8F;
                              font-size: 9px;
                              letter-spacing: 0.47px;
                              border-radius: 2px;
                              padding: .4rem .35rem;
                        }

                        .tertiary .text-content{
                              width: 65%;
                              padding: .5rem 0 .5rem .5rem;
                        }

                              .wait-num{
                                    width: 15%;
                                    color:  #C0A4CB;
                              }
                              .wait-name{
                                    width: 70%;
                              }



      .button-container{
            width: 100%;
            margin: 0 auto;
      }

      .button{
            display: block;
            width: 50%;
            max-width: 170px;
            padding: .85rem .3rem;
            background: #C0A4CB;
            border-radius: 15px;
            font-size: 9px;
            text-align: center;
            letter-spacing: 1.01px;
            text-decoration: none;
            text-transform: uppercase;
            color: #F8F5F5;
            border: none;
        }

      .button:hover{
           background:#514f55;
           transform: scale(0.95);
      }


      /* -------------Reservations ------------ */

      .form{
            background: white;
            border-radius: 8px;
            min-height: 230px;
            padding: 1rem 1rem 2rem;
            width: 85%;
            margin: 3rem auto 1rem;
            box-shadow: rgba(186, 143, 186, 0.35) 0px 5px 15px;
      }
            .form > .data-title{
                  font-size: 16px;
                  font-weight: 500;
                  text-transform: uppercase;
                  letter-spacing: 0.42px;
                  border-bottom: 1px solid  rgba(216,216,216, .3);
                  padding: .5rem 0 1rem;
                  color: #666262;
            }
            
            .form-content{
                  padding-top: 1rem;
            }

            .form-content-primary{
                  flex-direction: column;
            }

                  .form-input-container{
                        margin-bottom: .5rem;
                        border: 1px solid lightgrey;
                        padding: 1px;
                        border-radius: 5px;
                        padding: .5rem .5rem;
                  }
                  

                        label{
                              font-size: 10px;
                              color: #A477B6;
                              letter-spacing: 0.22px;
                              margin-left: 5px;
                        }

                        input{
                              border: none;
                              outline: none;
                              padding: .25rem;
                              width: 100%;
                        }

                        input[type=text]{
                              font-size: 14px;
                              
                        }

                        ::placeholder{
                              font-size: 10px;
                              text-transform: uppercase;
                              
                        }

                        .form-content-primary > .form-input-container{
                              width: 100%;
                        }
                        .form-content-secondary > .form-input-container{
                              width: 60%;
                        }

                        .submit-form{
                              margin-bottom: .5rem;
                              background: #C0A4CB;
                              border: none;
                              width: 35%;
                              border-radius: 10px;
                              color: #f3f3f3;
                              font-size: 12px;
                              transition: background 0.1s;
                        }

                        .submit-form:hover{
                              background:#828282;
                        }

                        .empty{
                              border: 2px solid red;
                        }

                        .submitted{
                              background-color: #b1d8b8
                        }

                       
      
                  /*---------------- Media Queries----------*/
   
                  @media only screen and (min-width: 425px) {
                  
                       
                        body{
                             background-image: none;
                             background: #C0A4CB;
                        }

                        .nav{
                              bottom: -1;
                        }
                      }
                       

   
