*, *::before, *::after {
      box-sizing: border-box;
  }

  body {
      min-height: 100vh;
      min-width: 100vw;
      margin: 0;
      font-family: SFProDisplay-Semibold, 'Roboto', sans-serif;
      font-size: 1rem;
      background-image: url(./img/slate-bg-320.png);
      background-repeat: no-repeat;
      background-size: cover;
  }
  

  .row{
      display: flex;
      justify-content: space-between;
  }

  .container{
      margin: auto;
      width:  90%;
      max-width: 320px;
      padding: 1rem 0 0 0;
}

header{
      margin-bottom: 2rem;
      color: #f3f3f3;
}

.header-logo{
      text-align: center;
      background: rgba(192, 164, 203, 0.8);
      padding: 15px 8px;
      border-radius: 50%;
}

.header-logo p{
      font-size: 10px;
      letter-spacing: 0.7px;
      margin-bottom: 1px;
}

.header-icon{
      margin-top: 5px;
}

.dashboard{
      margin: auto;
      background-image: linear-gradient(180deg, #FFFFFF 7%, rgba(217,210,226,0.14) 43%, rgba(243,243,243,0.00) 80%);
       border-radius: 26.76px;
      padding: 1rem;
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(3px);
}


.db-data{
      background: rgba(255,255,255,0.87);
      border-radius: 12.32px;
      margin-top: .7rem;
}

.db-title{
      font-size: 16.08px;
      color: #1E1B1B;
      letter-spacing: 0.71px;
  }

p, h3{
      margin: 0;
}

.date, .time{
      text-align: center;
}

.date{
      width: 32%;
      padding: .7rem .7rem;
}

      #day-of-week{
            font-size:1.20rem;
            color: #A88CB3;
            letter-spacing: 0.28px;
            line-height: 1;
      }

      #day-num{
      font-size: 43.8px;
      letter-spacing: 0.7px;
      line-height: 1;
      }

.time{
      width: 63%;
      padding: 1rem .5rem;
}

.time-container-primary{
      font-size: 43.08px;
      letter-spacing: -1.5px;
      line-height: 43.83px;
      width: 70%;
      align-self: center;
}

.time-container-secondary{
      font-size: 10px;
      width: 25%;
      align-self: center;
}

.time-container-secondary span{
      display: block;
}

.tertiary{
      padding: 1rem 1rem .7rem 1rem;
}

.tertiary + .tertiary{
      margin-bottom: 1rem;
}

.text-content{
      width: 60%;
}

.data-title{
      font-size: 14px;
      color: #191818;
      letter-spacing: 0.83px;
      margin-bottom: 6px;
}

.data-result-primiary{
      font-size: 12px;
      color: #918F8F;
      letter-spacing: 0.71px;
      margin-bottom: 1.5rem;
}

.data-result-secondary{
      font-size: 10px;
      color: #C0A4CB;
      letter-spacing: 0.71px;
}

.data-icon{
      align-self: center;
      text-align: center;
      height: 60px;
      width: 60px;
}

footer{
      opacity: 0.96;
      background: #F8F7F6;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1rem 4rem 1.2rem;
}



